In \[1\]:

    import pandas as pd

In \[2\]:

    import numpy as np

In \[41\]:

    import matplotlib.pyplot as plt

In \[3\]:

    df_student = pd.read_csv('Norwalk_StudentTemplate_PANDAS.csv')

In \[4\]:

    df_student

Out\[4\]:

|     | PrimaryCDSCode | LocalStudentID | StateID | FirstName | MiddleName | LastName  | DateOfBirth | Gender | GradeLevel | GPA  | ... | FosterYouth | ParentConsent | HispanicEthnicity | RaceCode1 | RaceCode2 | RaceCode3 | RaceCode4 | RaceCode5 | EnrollmentStartDate | EnrollmentEndDate |
|-----|----------------|----------------|---------|-----------|------------|-----------|-------------|--------|------------|------|-----|-------------|---------------|-------------------|-----------|-----------|-----------|-----------|-----------|---------------------|-------------------|
| 0   | 19648401936467 | 104            | 1004    | Bugs      | NaN        | Bunny     | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 1   | 19648401934728 | 120            | 1020    | Clyde     | NaN        | Bunny     | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 2   | 19648401936467 | 100            | 1000    | Donald    | NaN        | Duck      | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 3   | 19648401933647 | 112            | 1012    | Pepe      | NaN        | LePew     | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 4   | 19648401933647 | 108            | 1008    | Porky     | NaN        | Pig       | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 5   | 19648401934728 | 116            | 1016    | Cecil     | NaN        | Turtle    | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 6   | 19648401934728 | 117            | 1017    | Big       | NaN        | BadWolf   | 1/1/2000    | NaN    | 10         | 3.95 | ... | NaN         | Y             | Y                 | 500.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 7   | 19648401933647 | 105            | 1005    | Tweety    | NaN        | Bird      | 1/1/2000    | NaN    | 10         | 3.95 | ... | NaN         | Y             | Y                 | 700.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 8   | 19648401933647 | 106            | 1006    | Sylvester | NaN        | Cat       | 1/1/2000    | NaN    | 11         | 3.95 | ... | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 9   | 19648401934728 | 115            | 1015    | Wiley     | NaN        | Coyote    | 1/1/2000    | NaN    | 12         | 3.95 | ... | NaN         | Y             | Y                 | 600.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 10  | 19648401933647 | 107            | 1007    | Tasmanian | NaN        | Devil     | 1/1/2000    | NaN    | 12         | 3.95 | ... | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 11  | 19648401936467 | 103            | 1003    | Daffy     | NaN        | Duck      | 1/1/2000    | NaN    | 12         | 3.95 | ... | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 12  | 19648401933647 | 110            | 1010    | Elmer     | NaN        | Fudd      | 1/1/2000    | NaN    | 11         | 3.95 | ... | NaN         | Y             | NaN               | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 13  | 19648401934728 | 113            | 1013    | Speedy    | NaN        | Gonazales | 1/1/2000    | NaN    | 10         | 3.95 | ... | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 14  | 19648401934728 | 114            | 1014    | Foghorn   | NaN        | Leghorn   | 1/1/2000    | NaN    | 11         | 3.95 | ... | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 15  | 19648401933647 | 109            | 1009    | Marvin    | NaN        | Martian   | 1/1/2000    | NaN    | 10         | 3.95 | ... | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 16  | 19648401936467 | 101            | 1001    | Mickey    | NaN        | Mouse     | 1/1/2000    | NaN    | 10         | 3.95 | ... | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 17  | 19648401936467 | 102            | 1002    | Minnie    | NaN        | Mouse     | 1/1/2000    | NaN    | 11         | 3.95 | ... | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 18  | 19648401934728 | 118            | 1018    | Road      | NaN        | Runner    | 1/1/2000    | NaN    | 11         | 3.95 | ... | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 19  | 19648401933647 | 111            | 1011    | Yosemite  | NaN        | Sam       | 1/1/2000    | NaN    | 12         | 3.95 | ... | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 20  | 19648401934728 | 119            | 1019    | Colonel   | NaN        | Shuffle   | 1/1/2000    | NaN    | 12         | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |

21 rows × 24 columns

In \[6\]:

    df_student.head()

Out\[6\]:

|     | PrimaryCDSCode | LocalStudentID | StateID | FirstName | MiddleName | LastName | DateOfBirth | Gender | GradeLevel | GPA  | ... | FosterYouth | ParentConsent | HispanicEthnicity | RaceCode1 | RaceCode2 | RaceCode3 | RaceCode4 | RaceCode5 | EnrollmentStartDate | EnrollmentEndDate |
|-----|----------------|----------------|---------|-----------|------------|----------|-------------|--------|------------|------|-----|-------------|---------------|-------------------|-----------|-----------|-----------|-----------|-----------|---------------------|-------------------|
| 0   | 19648401936467 | 104            | 1004    | Bugs      | NaN        | Bunny    | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 1   | 19648401934728 | 120            | 1020    | Clyde     | NaN        | Bunny    | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 2   | 19648401936467 | 100            | 1000    | Donald    | NaN        | Duck     | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 3   | 19648401933647 | 112            | 1012    | Pepe      | NaN        | LePew    | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 4   | 19648401933647 | 108            | 1008    | Porky     | NaN        | Pig      | 1/1/2000    | NaN    | 9          | 3.95 | ... | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |

5 rows × 24 columns

In \[7\]:

    df_student.columns

Out\[7\]:

    Index(['PrimaryCDSCode', 'LocalStudentID', 'StateID', 'FirstName',
           'MiddleName', 'LastName', 'DateOfBirth', 'Gender', 'GradeLevel', 'GPA',
           'GPAType', 'NSLP', 'LoteCertSource', 'LanguageCode', 'FosterYouth',
           'ParentConsent', 'HispanicEthnicity', 'RaceCode1', 'RaceCode2',
           'RaceCode3', 'RaceCode4', 'RaceCode5', 'EnrollmentStartDate',
           'EnrollmentEndDate'],
          dtype='object')

In \[13\]:

    # 21 rows and 24 columns

    df_student.shape

Out\[13\]:

    (21, 24)

In \[47\]:

    pd.set_option('display.max_columns',24)
    pd.set_option('display.max_rows',21)

In \[16\]:

    df_student.dtypes

Out\[16\]:

    PrimaryCDSCode           int64
    LocalStudentID           int64
    StateID                  int64
    FirstName               object
    MiddleName             float64
    LastName                object
    DateOfBirth             object
    Gender                 float64
    GradeLevel               int64
    GPA                    float64
    GPAType                 object
    NSLP                   float64
    LoteCertSource         float64
    LanguageCode           float64
    FosterYouth            float64
    ParentConsent           object
    HispanicEthnicity       object
    RaceCode1              float64
    RaceCode2              float64
    RaceCode3              float64
    RaceCode4              float64
    RaceCode5              float64
    EnrollmentStartDate     object
    EnrollmentEndDate       object
    dtype: object

In \[17\]:

    df_student.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 21 entries, 0 to 20
    Data columns (total 24 columns):
     #   Column               Non-Null Count  Dtype  
    ---  ------               --------------  -----  
     0   PrimaryCDSCode       21 non-null     int64  
     1   LocalStudentID       21 non-null     int64  
     2   StateID              21 non-null     int64  
     3   FirstName            21 non-null     object 
     4   MiddleName           0 non-null      float64
     5   LastName             21 non-null     object 
     6   DateOfBirth          21 non-null     object 
     7   Gender               0 non-null      float64
     8   GradeLevel           21 non-null     int64  
     9   GPA                  21 non-null     float64
     10  GPAType              21 non-null     object 
     11  NSLP                 0 non-null      float64
     12  LoteCertSource       0 non-null      float64
     13  LanguageCode         0 non-null      float64
     14  FosterYouth          0 non-null      float64
     15  ParentConsent        21 non-null     object 
     16  HispanicEthnicity    20 non-null     object 
     17  RaceCode1            3 non-null      float64
     18  RaceCode2            0 non-null      float64
     19  RaceCode3            0 non-null      float64
     20  RaceCode4            0 non-null      float64
     21  RaceCode5            0 non-null      float64
     22  EnrollmentStartDate  21 non-null     object 
     23  EnrollmentEndDate    21 non-null     object 
    dtypes: float64(12), int64(4), object(8)
    memory usage: 4.1+ KB

In \[18\]:

    df_student.describe()

Out\[18\]:

|       | PrimaryCDSCode | LocalStudentID | StateID     | MiddleName | Gender | GradeLevel | GPA          | NSLP | LoteCertSource | LanguageCode | FosterYouth | RaceCode1 | RaceCode2 | RaceCode3 | RaceCode4 | RaceCode5 |
|-------|----------------|----------------|-------------|------------|--------|------------|--------------|------|----------------|--------------|-------------|-----------|-----------|-----------|-----------|-----------|
| count | 2.100000e+01   | 21.000000      | 21.000000   | 0.0        | 0.0    | 21.000000  | 2.100000e+01 | 0.0  | 0.0            | 0.0          | 0.0         | 3.0       | 0.0       | 0.0       | 0.0       | 0.0       |
| mean  | 1.964840e+13   | 110.000000     | 1010.000000 | NaN        | NaN    | 10.428571  | 3.950000e+00 | NaN  | NaN            | NaN          | NaN         | 600.0     | NaN       | NaN       | NaN       | NaN       |
| std   | 1.106096e+03   | 6.204837       | 6.204837    | NaN        | NaN    | 1.164965   | 1.365168e-15 | NaN  | NaN            | NaN          | NaN         | 100.0     | NaN       | NaN       | NaN       | NaN       |
| min   | 1.964840e+13   | 100.000000     | 1000.000000 | NaN        | NaN    | 9.000000   | 3.950000e+00 | NaN  | NaN            | NaN          | NaN         | 500.0     | NaN       | NaN       | NaN       | NaN       |
| 25%   | 1.964840e+13   | 105.000000     | 1005.000000 | NaN        | NaN    | 9.000000   | 3.950000e+00 | NaN  | NaN            | NaN          | NaN         | 550.0     | NaN       | NaN       | NaN       | NaN       |
| 50%   | 1.964840e+13   | 110.000000     | 1010.000000 | NaN        | NaN    | 10.000000  | 3.950000e+00 | NaN  | NaN            | NaN          | NaN         | 600.0     | NaN       | NaN       | NaN       | NaN       |
| 75%   | 1.964840e+13   | 115.000000     | 1015.000000 | NaN        | NaN    | 11.000000  | 3.950000e+00 | NaN  | NaN            | NaN          | NaN         | 650.0     | NaN       | NaN       | NaN       | NaN       |
| max   | 1.964840e+13   | 120.000000     | 1020.000000 | NaN        | NaN    | 12.000000  | 3.950000e+00 | NaN  | NaN            | NaN          | NaN         | 700.0     | NaN       | NaN       | NaN       | NaN       |

In \[10\]:

    df_student

Out\[10\]:

|     | PrimaryCDSCode | LocalStudentID | StateID | FirstName | MiddleName | LastName  | DateOfBirth | Gender | GradeLevel | GPA  | GPAType    | NSLP | LoteCertSource | LanguageCode | FosterYouth | ParentConsent | HispanicEthnicity | RaceCode1 | RaceCode2 | RaceCode3 | RaceCode4 | RaceCode5 | EnrollmentStartDate | EnrollmentEndDate |
|-----|----------------|----------------|---------|-----------|------------|-----------|-------------|--------|------------|------|------------|------|----------------|--------------|-------------|---------------|-------------------|-----------|-----------|-----------|-----------|-----------|---------------------|-------------------|
| 0   | 19648401936467 | 104            | 1004    | Bugs      | NaN        | Bunny     | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 1   | 19648401934728 | 120            | 1020    | Clyde     | NaN        | Bunny     | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 2   | 19648401936467 | 100            | 1000    | Donald    | NaN        | Duck      | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 3   | 19648401933647 | 112            | 1012    | Pepe      | NaN        | LePew     | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 4   | 19648401933647 | 108            | 1008    | Porky     | NaN        | Pig       | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 5   | 19648401934728 | 116            | 1016    | Cecil     | NaN        | Turtle    | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 6   | 19648401934728 | 117            | 1017    | Big       | NaN        | BadWolf   | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | 500.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 7   | 19648401933647 | 105            | 1005    | Tweety    | NaN        | Bird      | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | 700.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 8   | 19648401933647 | 106            | 1006    | Sylvester | NaN        | Cat       | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 9   | 19648401934728 | 115            | 1015    | Wiley     | NaN        | Coyote    | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | 600.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 10  | 19648401933647 | 107            | 1007    | Tasmanian | NaN        | Devil     | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 11  | 19648401936467 | 103            | 1003    | Daffy     | NaN        | Duck      | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 12  | 19648401933647 | 110            | 1010    | Elmer     | NaN        | Fudd      | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | NaN               | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 13  | 19648401934728 | 113            | 1013    | Speedy    | NaN        | Gonazales | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 14  | 19648401934728 | 114            | 1014    | Foghorn   | NaN        | Leghorn   | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 15  | 19648401933647 | 109            | 1009    | Marvin    | NaN        | Martian   | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 16  | 19648401936467 | 101            | 1001    | Mickey    | NaN        | Mouse     | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 17  | 19648401936467 | 102            | 1002    | Minnie    | NaN        | Mouse     | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 18  | 19648401934728 | 118            | 1018    | Road      | NaN        | Runner    | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 19  | 19648401933647 | 111            | 1011    | Yosemite  | NaN        | Sam       | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 20  | 19648401934728 | 119            | 1019    | Colonel   | NaN        | Shuffle   | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | NaN  | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |

# Student File Flat File Testing<a href="#Student-File-Flat-File-Testing" class="anchor-link">¶</a>

## All Partner Sites Listed?<a href="#All-Partner-Sites-Listed?" class="anchor-link">¶</a>

In \[ \]:

     

# Missing or Incorrect SSID's<a href="#Missing-or-Incorrect-SSID&#39;s" class="anchor-link">¶</a>

In \[11\]:

    # how to find blanks within a column

    df_student[df_student['StateID'] == ''].index

Out\[11\]:

    Int64Index([], dtype='int64')

In \[13\]:

    # how to find nulls within a column 

    pd.isna(df_student['StateID'])

Out\[13\]:

    0     False
    1     False
    2     False
    3     False
    4     False
    5     False
    6     False
    7     False
    8     False
    9     False
    10    False
    11    False
    12    False
    13    False
    14    False
    15    False
    16    False
    17    False
    18    False
    19    False
    20    False
    Name: StateID, dtype: bool

# Check for Duplicate SSID<a href="#Check-for-Duplicate-SSID" class="anchor-link">¶</a>

In \[24\]:

    # check for dupes in SSID

    df_student['StateID'].duplicated()

Out\[24\]:

    0     False
    1     False
    2     False
    3     False
    4     False
    5     False
    6     False
    7     False
    8     False
    9     False
    10    False
    11    False
    12    False
    13    False
    14    False
    15    False
    16    False
    17    False
    18    False
    19    False
    20    False
    Name: StateID, dtype: bool

In \[ \]:

     

## Count of Student Per Grade Level<a href="#Count-of-Student-Per-Grade-Level" class="anchor-link">¶</a>

In \[10\]:

    df_student.pivot_table(index = 'GradeLevel',
                          values = 'LocalStudentID',
                          aggfunc = 'count')

Out\[10\]:

|            | LocalStudentID |
|------------|----------------|
| GradeLevel |                |
| 9          | 6              |
| 10         | 5              |
| 11         | 5              |
| 12         | 5              |

# Acceptable Grade Levels?<a href="#Acceptable-Grade-Levels?" class="anchor-link">¶</a>

In \[19\]:

    # Gets unique values for grade level

    df_student['GradeLevel'].unique()

Out\[19\]:

    array([ 9, 10, 11, 12], dtype=int64)

## Count of Students Per Site<a href="#Count-of-Students-Per-Site" class="anchor-link">¶</a>

In \[8\]:

    df_student.pivot_table(index = 'PrimaryCDSCode',
                          values = 'LocalStudentID',
                          aggfunc = 'count')

Out\[8\]:

|                | LocalStudentID |
|----------------|----------------|
| PrimaryCDSCode |                |
| 19648401933647 | 8              |
| 19648401934728 | 8              |
| 19648401936467 | 5              |

# Missing or incorrect CDS Codes<a href="#Missing-or-incorrect-CDS-Codes" class="anchor-link">¶</a>

In \[21\]:

    df_student.insert(1,'LenPrimaryCDSCode', df_student['PrimaryCDSCode'].astype(str).str.len())

In \[22\]:

    # check len of each CDS Codes to identify short CDS Codes
    df_student

Out\[22\]:

|     | PrimaryCDSCode | LenPrimaryCDSCode | LocalStudentID | StateID | FirstName | MiddleName | LastName  | DateOfBirth | Gender | GradeLevel | GPA  | GPAType    | ... | LoteCertSource | LanguageCode | FosterYouth | ParentConsent | HispanicEthnicity | RaceCode1 | RaceCode2 | RaceCode3 | RaceCode4 | RaceCode5 | EnrollmentStartDate | EnrollmentEndDate |
|-----|----------------|-------------------|----------------|---------|-----------|------------|-----------|-------------|--------|------------|------|------------|-----|----------------|--------------|-------------|---------------|-------------------|-----------|-----------|-----------|-----------|-----------|---------------------|-------------------|
| 0   | 19648401936467 | 14                | 104            | 1004    | Bugs      | NaN        | Bunny     | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 1   | 19648401934728 | 14                | 120            | 1020    | Clyde     | NaN        | Bunny     | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 2   | 19648401936467 | 14                | 100            | 1000    | Donald    | NaN        | Duck      | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 3   | 19648401933647 | 14                | 112            | 1012    | Pepe      | NaN        | LePew     | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 4   | 19648401933647 | 14                | 108            | 1008    | Porky     | NaN        | Pig       | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 5   | 19648401934728 | 14                | 116            | 1016    | Cecil     | NaN        | Turtle    | 1/1/2000    | NaN    | 9          | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |
| 6   | 19648401934728 | 14                | 117            | 1017    | Big       | NaN        | BadWolf   | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | 500.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 7   | 19648401933647 | 14                | 105            | 1005    | Tweety    | NaN        | Bird      | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | 700.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 8   | 19648401933647 | 14                | 106            | 1006    | Sylvester | NaN        | Cat       | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 9   | 19648401934728 | 14                | 115            | 1015    | Wiley     | NaN        | Coyote    | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | 600.0     | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 10  | 19648401933647 | 14                | 107            | 1007    | Tasmanian | NaN        | Devil     | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 11  | 19648401936467 | 14                | 103            | 1003    | Daffy     | NaN        | Duck      | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 12  | 19648401933647 | 14                | 110            | 1010    | Elmer     | NaN        | Fudd      | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | NaN               | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 13  | 19648401934728 | 14                | 113            | 1013    | Speedy    | NaN        | Gonazales | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 14  | 19648401934728 | 14                | 114            | 1014    | Foghorn   | NaN        | Leghorn   | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 15  | 19648401933647 | 14                | 109            | 1009    | Marvin    | NaN        | Martian   | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 16  | 19648401936467 | 14                | 101            | 1001    | Mickey    | NaN        | Mouse     | 1/1/2000    | NaN    | 10         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 17  | 19648401936467 | 14                | 102            | 1002    | Minnie    | NaN        | Mouse     | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 18  | 19648401934728 | 14                | 118            | 1018    | Road      | NaN        | Runner    | 1/1/2000    | NaN    | 11         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 19  | 19648401933647 | 14                | 111            | 1011    | Yosemite  | NaN        | Sam       | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | Y             | N                 | NaN       | NaN       | NaN       | NaN       | NaN       | 9/1/2021            | 6/15/2022         |
| 20  | 19648401934728 | 14                | 119            | 1019    | Colonel   | NaN        | Shuffle   | 1/1/2000    | NaN    | 12         | 3.95 | Cumulative | ... | NaN            | NaN          | NaN         | N             | Y                 | NaN       | NaN       | NaN       | NaN       | NaN       | 3/1/2022            | 6/15/2022         |

21 rows × 25 columns

In \[23\]:

    # check for short CDS Codes

    df_student['LenPrimaryCDSCode'].unique()

Out\[23\]:

    array([14], dtype=int64)

In \[25\]:

    # check for blank CDS Codes

    df_student[df_student['PrimaryCDSCode'] == ''].index

Out\[25\]:

    Int64Index([], dtype='int64')

In \[26\]:

    # check for NULL CDS Codes

    pd.isna(df_student['PrimaryCDSCode'])

Out\[26\]:

    0     False
    1     False
    2     False
    3     False
    4     False
    5     False
    6     False
    7     False
    8     False
    9     False
    10    False
    11    False
    12    False
    13    False
    14    False
    15    False
    16    False
    17    False
    18    False
    19    False
    20    False
    Name: PrimaryCDSCode, dtype: bool

In \[ \]:

    # will also need a placeholder for looking up into CDE file

# Parent Consent Counts Per Site<a href="#Parent-Consent-Counts-Per-Site" class="anchor-link">¶</a>

In \[30\]:

    df_student['ParentConsent'].value_counts(normalize = True).round(2)

Out\[30\]:

    Y    0.67
    N    0.33
    Name: ParentConsent, dtype: float64

In \[42\]:

    # agg function must be lowercase

    pc_pivot = df_student.pivot_table(index = 'PrimaryCDSCode',
                          values = 'ParentConsent',
                          aggfunc = 'count')

In \[43\]:

    pc_pivot

Out\[43\]:

|                | ParentConsent |
|----------------|---------------|
| PrimaryCDSCode |               |
| 19648401933647 | 8             |
| 19648401934728 | 8             |
| 19648401936467 | 5             |

In \[46\]:

    pc_pivot.plot(kind = 'bar', color= 'blue', 
                       xlabel = 'CDSCodes', ylabel = 'Parent Consent Counts',
                      title = 'PC Counts by CDS Code')

Out\[46\]:

    <Axes: title={'center': 'PC Counts by CDS Code'}, xlabel='CDSCodes', ylabel='Parent Consent Counts'>

![]()

# Missing GPA's<a href="#Missing-GPA&#39;s" class="anchor-link">¶</a>

In \[37\]:

    # checking for blank GPA's

    df_student[df_student['GPA'] == ''].index

Out\[37\]:

    Int64Index([], dtype='int64')

In \[38\]:

    # checking for NULL GPA's

    pd.isna(df_student['GPA'])

Out\[38\]:

    0     False
    1     False
    2     False
    3     False
    4     False
    5     False
    6     False
    7     False
    8     False
    9     False
    10    False
    11    False
    12    False
    13    False
    14    False
    15    False
    16    False
    17    False
    18    False
    19    False
    20    False
    Name: GPA, dtype: bool

# NSLP Data Included?<a href="#NSLP-Data-Included?" class="anchor-link">¶</a>

In \[40\]:

    pd.isna(df_student['NSLP'])

Out\[40\]:

    0     True
    1     True
    2     True
    3     True
    4     True
    5     True
    6     True
    7     True
    8     True
    9     True
    10    True
    11    True
    12    True
    13    True
    14    True
    15    True
    16    True
    17    True
    18    True
    19    True
    20    True
    Name: NSLP, dtype: bool